<link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
<script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
<script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
<script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nva6di4ut3"></script>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'blog' %}">CAR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'chart'%}">기업도산순위</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'char' %}">소재별도산가능성</a>
                  </li>
                  <li class="nav-item">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          기업정보
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'ci' %}">광주</a>
                            <a class="dropdown-item" href="{% url 'ca' %}">전남</a>
                        </div>
                      </div>
                    </li>
                  </div>
            {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'nowblog' %}">글쓰기</a>
                            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                            <form id="logout" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %} <input type="hidden" />
                            </form>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
<body>
    <div class="container">
        <form class="form-inline" method="get" action="{%url 'search'%}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">기업검색</button>
            </form>
    <h1>전남</h1>
    <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>도산가능성</B></td>
                <td><B>기업이름</B></td>
                <td><B>자금사정실적</B></td>
                <td><B>내수전망</B></td>
                <td><B>판매대금회수지연</B></td>
                <td><B>나머지특징값</B></td>
                <td><B>위험도</B></td>
            </tr>
            </thead>
            <tbody>
            {%for y in JN_data%}
            <tr>
                <td><b>{{y.Risk}}</b></td>
                <td> {{y.Cor_code}}</td>
                <td> {{y.ODD}}</td>
                <td> {{y.PFS}}</td>
                <td> {{y.DMR}}</td>
                <td> {{y.ETC}}</td>

                {% if y.Risk > 6.9 %}
                <td>
                    <form action = "#" method="post">
                        <button type="button" class="btn btn-danger">Danger</button>
                    </form>
                </td>
                {% else %}
                <td>
                    <form action = "#" method="post">
                        <button type="button" class="btn btn-warning">Warning</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    </body>
    
    